<h2>Shipping Address</h2>

<form>
  <div>
    <label for="shipping-address__email">Email</label>
    <input type="text" id="shipping-address__email" value="rocinwinter@gmail.com">
  </div>

  <div>
    <label for="shipping-address__first-name">First Name</label>
    <input type="text" id="shipping-address__first-name" value="Roc">
  </div>

  <div>
    <label for="shipping-address__last-name">Last Name</label>
    <input type="text" id="shipping-address__last-name" value="Wang">
  </div>

  <div>
    <label for="shipping-address__street-1">Street Address 1</label>
    <input type="text" id="shipping-address__street-1" value="15 Carrowmore">
  </div>

  <div>
    <label for="shipping-address__street-2">Street Address 2</label>
    <input type="text" id="shipping-address__street-2" value="Pinehill">
  </div>

  <div>
    <label for="shipping-address__city">City</label>
    <input type="text" id="shipping-address__city" value="North Shore">
  </div>

  <div>
    <label for="shipping-address__region">State</label>
    <input type="text" id="shipping-address__region" value="Auckland">
  </div>

  <div>
    <label for="shipping-address__post-code">Zip/Post Code</label>
    <input type="text" id="shipping-address__post-code" value="0632">
  </div>

  <div>
    <label for="shipping-address__country">Country ID</label>
    <input type="text" id="shipping-address__country" value="nz">
  </div>

  <div>
    <label for="shipping-address__phone">Phone Number</label>
    <input type="text" id="shipping-address__phone" value="027 949 1310">
  </div>

  <button type="button" class="js-shipping-address__btn-save">Save Shipping Address</button>
</form>
