<table class="ui very compact striped table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Quantiy</th>
    <th>Price</th>
  </tr>
  </thead>
  <tfoot>
  <tr *ngFor="#total of totals">
    <td colspan="2"><strong>{{total.title}}</strong></td>
    <td><strong>{{total.value | currency:'NZD':true}}</strong></td>
  </tr>
  </tfoot>
  <tbody>
  <tr *ngFor="#item of items">
    <td>{{item.name}}</td>
    <td>{{item.qty}}</td>
    <td>{{item.price | currency:'NZD':true}}</td>
  </tr>
  </tbody>
</table>
