:host {
  display   : flex;
  flex-flow : column nowrap;
  height    : 100%;
}

.ui.items {
  overflow      : auto;
  flex-grow     : 1;
  margin-top    : 0;
  margin-bottom : 0;
}

.grand-total {
  font-weight : bold;
}
