<div class="ui divided items" *ngIf="cart?.totals?.items?.length">

  <div class="item" *ngFor="let item of cart.totals.items">
    <div class="ui tiny image">
      <img src="http://semantic-ui.com/images/wireframe/image.png">
    </div>

    <div class="content">

      <a class="ui right floated" (click)="cart.del(item)">
        <i class="remove circle icon"></i>
      </a>

      <div class="header">{{item.name}}</div>

      <div class="meta">
        <span>{{item.qty}}</span>
        &times;
        <span>{{item.price | currency:'NZD':true}}</span>
      </div>

    </div>
  </div>

</div>

<table class="ui very compact striped single line table" *ngIf="cart?.totals?.total_segments?.length">
  <tbody>
  <tr *ngFor="let total of cart.totals.total_segments" [class.grand-total]="total.title === 'Grand Total'">
    <td class="eight wide">{{total.title}}</td>
    <td class="eight wide">{{total.value | currency:'NZD':true}}</td>
  </tr>
  </tbody>
</table>

<button class="ui massive primary fluid button"
        [class.loading]="payment.isPlacingOrder"
        (click)="payment.saveAndPlaceOrder()"
>
  Place Order
</button>

<div class="ui inverted dimmer" [class.active]="cart.isLoading">
  <div class="ui loader"></div>
</div>
