.product-grid {
  display         : flex;
  flex-flow       : row wrap;
  justify-content : flex-start;
  align-items     : stretch;
  align-content   : space-between;
}

.product {
  flex      : 1 1 25%;
  max-width : 25%;

  &__image {
    max-width : 100%;
    display   : block;
  }
}

