$header-color : rgba(0, 0, 0, .87);

:host {
  display : block;
}

header.ui.menu {
  z-index : 120;

  .item.header {
    flex-grow  : 1;
    display    : block;
    text-align : center;
    color      : $header-color;

    .header-inner {
      position : relative;
      left     : calc(50vw - 50%);
    }
  }
}

main {
  padding-top    : 38.125px;
  padding-bottom : 72px;
  overflow       : auto;
  min-height     : 100vh;

  &.checkout {
    height : 100vh;
  }
}
