$header-color : rgba(0, 0, 0, .87);

.app-body {
  padding-top    : 38.125px;
  padding-bottom : 72px;
  overflow       : auto;
}

.top-bar.ui.menu.fixed {
  z-index : 120;
}

.ui.menu .item.header {
  flex-grow  : 1;
  display    : block;
  text-align : center;
}

.header-inner {
  position : relative;
  left     : (204px - 56px) / 2;
  color    : $header-color;
  cursor   : pointer;
}
