<!--<div class="ui right very wide sidebar">-->
  <!--<cart></cart>-->
<!--</div>-->

<!--<div class="pusher">-->
  <header class="ui small top fixed menu header">
    <div class="header item">{{title}}</div>

    <!--<div class="right menu">-->
      <!--<a class="ui item" (click)="toggleCart()">-->
        <!--<i class="shop icon"></i>-->
        <!--Cart-->
      <!--</a>-->
    <!--</div>-->
  </header>

  <div class="app-body">
    <router-outlet></router-outlet>
  </div>

  <nav class="ui bottom fixed labeled icon fluid four item menu"></nav>
<!--</div>-->
