<h2 class="ui dividing header">Payment</h2>

<form class="ui form" [class.loading]="!payment.availableMethods?.length">
  <div class="grouped fields">

    <div class="field" *ngFor="#method of payment.availableMethods">
      <div class="ui radio checkbox">
        <input type="radio"
               tabindex="0"
               class="hidden"
               name="payment_method"
        >
        <label>{{method.title}}</label>
      </div>
    </div>

  </div>
</form>

<button class="ui massive primary fluid button">
  Place Order
</button>
