<form class="ui form" [class.loading]="payment.isLoading">
  <div class="grouped fields">

    <div class="field" *ngFor="#method of payment.availableMethods; #i=index" [class.disabled]="payment.isPlacingOrder">
      <div class="ui radio checkbox">
        <input type="radio"
               tabindex="0"
               class="hidden"
               name="payment_method"
               [id]="'payment_method_' + i"
               [value]="method.state.value"
               [(ngModel)]="method.state"
               ngControl="paymentMethod"
               (change)="save()"
        >
        <label [attr.for]="'payment_method_' + i">{{method.title}}</label>
      </div>
    </div>

  </div>
</form>

<div class="ui basic modal" id="order-placed">
  <i class="close icon"></i>

  <div class="header">That's it! Your Order Is Placed</div>

  <div class="image content">
    <div class="image">
      <i class="checkmark icon"></i>
    </div>

    <div class="description">
      <p>
        Your order ID is <strong>{{payment.orderId}}</strong>.
        You can find it in
        <a [attr.href]="'http://m2.rocwang.me/admin/sales/order/view/order_id/'+payment.orderId+'/'" target="_blank">
          the Magento admin
        </a>
      </p>
    </div>
  </div>
</div>
