:host {
  display   : flex;
  flex-flow : column nowrap;
  flex-grow : 1;
}

.ui.form {
  flex-grow : 1;
  overflow  : auto;
  display   : flex;
  flex-flow : column nowrap;

  .shipping-methods {
    flex-grow : 1;
    overflow  : auto;
    position  : relative;
  }
}
