<h2>Shipping Methods</h2>

<form>
  <div id="shipping-methods"></div>
  <button type="button" class="js-shipping-methods__btn-save">Save Shipping Address & Method</button>
</form>
<template id="template-shipping-methods">
  <div>
    <label>
      <input type="radio" class="js-shipping-methods__input" name="shipping">

      <span class="js-shipping-methods__price-incl-tax"></span>
      <span class="js-shipping-methods__method-title"></span>
      <span class="js-shipping-methods__carrier-title"></span>
    </label>
  </div>
</template>
