<form class="ui form">
  <div class="grouped fields">

    <label>Shipping Methods</label>

    <div class="field" *ngFor="#method of shipping.availableMethods">
      <div class="ui radio checkbox">
        <input type="radio"
               tabindex="0"
               class="hidden"
               name="shipping_method"
        >
        <label>
          {{method.carrier_title}}
          - {{method.method_title}}
          - {{method.price_incl_tax | currency:'NZD':true}}
        </label>
      </div>
    </div>

  </div>
</form>
