$menu-active-color : rgba(0, 0, 0, .95);
$menu-active-bg-color : rgba(0, 0, 0, .05);
$sidebar-bg : #fff;

.ui.menu .router-link-active.item {
  background  : $menu-active-bg-color;
  color       : $menu-active-color;
  font-weight : normal;
  box-shadow  : none;
}

.sidebar {
  background : $sidebar-bg;
}

.app-body {
  position : fixed;
  top      : 38.125px;
  left     : 0;
  right    : 0;
  height   : calc(100vh - 38.125px - 72px);
  overflow: auto;
}

